@import url(./reset.css);
@import url(./theme.css);

body{
    padding: 10px;
    font-family: var(--font-family);
    background-color: var(--bg-page-color);
}

#header{
    width: 100%;
    height: 120px;
    margin-top: 50px;
    border: 0px var(--border-color) solid;
    border-radius: var(--border-radius-size);
    background-color: var(--bg-box-color);
}

#perfil-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.greetings-container{
    width: 66.66%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: var(--border-radius-size);
}

.name{
    font-size: var(--font-main-size);
    color: var(--primary-font-color);
}

.occupation{
    font-size: var(--font-size);
    color: var(--primary-font-color);
}

.fullstack{
    width: 35%;
    height: 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px var(--border-color) solid;
    border-radius: 16px;
}

.photo-container{
    width: 33.33%;
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo{
    width: 100px;
    border: 5px solid var(--border-color);
    border-radius: 15px 15px 15px 15px;
}

.icons-wrapper{
    width: 100%;
    height: 75px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px var(--border-color) solid;
    border-radius: 12px;
    background-color: var(--bg-box-color);
}

.stack-icons{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stack-icons > i{
    font-size: 2.7em;
    color: var(--primary-font-color);
}