@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    /* Colors */
    --primary-page-color: #affc41;
    --secondary-page-color: #fff;
    --bg-page-color: #0b090a;
    --bg-box-color: #f5f3f4;
    --primary-font-color: #0b090a;
    --secondary-font-color: #ccc5b9;
    --border-color: #affc41;

    /* Dimensions */
    --font-main-size: 25px;
    --font-size:15px;
    --border-radius-size: 1.1rem;

    /* Fonts */
    --font-family: "Rubik", sans-serif;
}